extends layouts/main-layout.pug

block styles
    link(rel="stylesheet", href="/css/product.css")

block content
    main
        if prods.length > 0
            .grid
                each product in prods
                    article.card.product-item
                        header.card-header
                             h1.product__title #{product.title}
                        div.card__image
                            img(src="https://www.shutterstock.com/image-vector/book-icon-sign-design-600w-553945819.jpg", alt="A Book")
                        div.card__content 
                            h2.product__price $19.99
                            p.product__description A book from google images
                        .card_actions
                            button.btn Add to Cart
        else 
            h1 No Products
